.container-flex {
  display: flex;
  flex-wrap: wrap;
}

.listproject {
  height: 9.5em;
  width: 15em;
  margin: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  border-style: solid;
  border-color: rgba(110, 110, 110, 0.76);
  border-radius: 1em;
  /* background-color: #b0b0b0;
  border-color: #b0b0b0; */
}

#addsymbol {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgb(110, 110, 110, 0.76);
}

/* .container-flex div p {
  font-size: 60px;
  font-weight: 500;
  position: absolute;
} */

.closebutton {
  top: 0.2em;
  right: 0.2em;
  font-size: 1.5em;
  position: absolute;
  line-height: 0.7em;
  color: black;
}

.closebutton:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.596);
  opacity: 75%;
}

.container-flex img {
  height: 2em;
  width: 2em;
}

.container-flex img:hover {
  height: 2.5em;
  width: 2.5em;
}

h1 {
  margin: 0;
  padding: 4px;
  font: bold 1.5em verdana;
  border-bottom: 1px solid #000;
}

right {
  display: inline;
  line-height: 3.5em;
  position: relative;
  margin-left: 68%;
}
