.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-flex div {
  height: 9.5em;
  width: 15em;
  border: solid;
  margin: 1em;
  text-align: center;
}

.listproject {
  padding: 1em 0em 0em 0em;
  position: relative;
}

.container-flex div p {
  font-size: 60px;
  font-weight: 500;
}

.close {
  top: 0em;
  left: 8.9em;
  position: absolute;
}

.close :active {
  border-color: none;
}

.close :visited {
  border-color: none;
}

.container-flex img {
  height: 2em;
  width: 2em;
}

.container-flex .addsymbol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-flex img:hover {
  height: 2.5em;
  width: 2.5em;
}
