.sidenav {
  height: 100%; /* 100% Full-height */
  width: 90px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #dc3545; /* Black*/
  /* overflow-x: hidden; */
  overflow: auto;
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.3s;
}

.controlside div {
  display: inline-flex;
  align-items: flex-start;
  position: initial;
  width: 100px;
  font-size: 20px;
}

#add1 {
  display: none;
}

.sidenav a {
  padding: 25px 0px 20px 25px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  /* transition: 0.3s; */
  font-weight: 500;
}

.sidenav img {
  margin: 0px 20px 0px 0px;
  height: 35px;
  width: 35px;
  vertical-align: middle;
}

.sidenav a:hover {
  color: #f1f1f1;
}
