.list-graph {
    border-color: rgba(110, 110, 110, 0.76);
    border-radius: 1em;
    height: 25em;
    width: 97%;
    margin: 0.8em;
    display: flex;
    border-style: solid;
    position: relative;
    /* z-index: -1; */
}

.data-graph {
    margin-top: 20px;
    margin-left: 20px;
    width: 70%;
}

#name-G{
    position: absolute;
    font-size: 2em;
    left: 50px;
    top: 30px;
    z-index: 1;
}

#alertaddgraph{
    margin: 15% 0% 0% 40%;
    color: rgba(110, 110, 110);
}